@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Montserrat');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 450px) {

.venues-list {
  border: 1px solid #302745;
  color: #abbdd1;
  text-align: center;
  font-size: 10px;
  width: 130px;
  display: table;
  max-height: 100%;
  margin: 0 5px 0;
  padding-left: 7px;
}

.dd {
  margin-top: 5vh;
}

.venues-list:hover {
  color: #f1f1f1;
  border: 1px solid #ffbf00;
  cursor: pointer;
}

#map {
  height: 100vh;
}

.options-box {
  background: #040620;
  height: 60%;
  padding: 0vh 10px 0px 10px;
  margin-top: 22vh;
  text-align: center;
  width: 150px;
  top: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  transition: 0.5s;
}

.options-box li {
  background: #040620;
  height: 90%;
  padding: 0px 0px 0px 20px;
  margin-top: 8vh;
  text-align: center;
  width: 150px;
  top: 19vh;
  left: 0;
  position: fixed;
  transition: 0.5s;
}

#places-search {
  width: 80px;
  font-family:Montserrat;
  font-size: 10px;
  height: 15px;
  border-radius: 0
}

.submit-button {
width: 50px;
font-family: Montserrat;
font-size: 8px;
height: 21.5px;
padding-bottom: 1px;
}

.navbar {
  height: 13vh;
  display: block;
  position: fixed;
  z-index: 1;
  min-width: 100%;
  background: #040620;
  color: #fff;
  font-family:Baloo thambi;
	font-size:15px;
  text-align: center;
}

.markers-title {
  width: 150px;
  height: 30px;
  color: #fff;
  font-family:Montserrat;
	font-size:13px;
	font-weight:bold;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
}

@media screen and (min-width: 450px) {


  .venues-list {
    border: 2px solid #302745;
    width: auto;
    color: #abbdd1;
    text-align: center;
    width: 280px;
    display: table;
    margin: 0 20px 0;
    padding-left: 7px;
  }

  .venues-list:hover {
    color: #f1f1f1;
    border: 2px solid #ffbf00;
    cursor: pointer;
  }

  #map {
    height: 100vh;
    width: 82vw;
    border-top: 8vh;
    margin-left: 18vw;

  }

  .options-box {
    background: #040620;
    height: 90%;
    padding: 0vh 10px 0px 10px;
    margin-top: 10vh;
    text-align: center;
    width: 18vw;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
  }

  #places-search {
    width: 220px;
    margin-bottom: 20px;
    font-family:Montserrat;
    margin-left: -7px;
  }

  .navbar {
    height: 8vh;
    display: block;
    position: fixed;
    z-index: 1;
    min-width: 100%;
    background: #040620;
    color: #fff;
    font-family:Baloo thambi;
  	font-size:25px;
    text-align: center;
    padding-top: 20px;
  }

h3 {
  text-align: center;
  margin-top: 1vh;
}

  .markers-title {
    width: 342px;
    height: 30px;
    color: #fff;
    font-family:Montserrat;
  	font-size:18px;
  	font-weight:bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
